*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{

    display:flex;

    min-height:100vh;

    background:linear-gradient(135deg,#0B0B12,#1B1038);

    color:white;

}

.sidebar{

    width:260px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    padding:30px;

}

.sidebar h1{

    color:#9f5cff;

    margin-bottom:40px;

}

.sidebar a{

    display:block;

    text-decoration:none;

    color:white;

    padding:14px;

    margin-bottom:12px;

    border-radius:12px;

    transition:.3s;

}

.sidebar a:hover,
.sidebar .active{

    background:#8B5CF6;

}

.content{

    flex:1;

    padding:50px;

}

.content h1{

    margin-bottom:30px;

}

.cgpa-card,
.subject-card,
.subject-list{

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.12);

    border-radius:20px;

    padding:30px;

    margin-bottom:30px;

}

.cgpa-card h2{

    color:#b36cff;

    margin-bottom:10px;

}

.subject-card input{

    width:100%;

    padding:15px;

    margin-top:15px;

    border:none;

    border-radius:12px;

    background:rgba(255,255,255,.12);

    color:white;

}

.subject-card button{

    margin-top:20px;

    padding:15px 30px;

    border:none;

    border-radius:12px;

    background:#8B5CF6;

    color:white;

    cursor:pointer;

    font-size:16px;

}

.subject-card button:hover{

    background:#9f5cff;

}

.subject{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:15px;

    margin-top:15px;

    border-radius:12px;

    background:rgba(255,255,255,.06);

}
/* ===========================
      Statistics Cards
=========================== */

.stats-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:25px;

    margin-bottom:35px;

}

.stat-card{

    background:rgba(255,255,255,.08);

    border:1px solid rgba(255,255,255,.12);

    backdrop-filter:blur(20px);

    border-radius:22px;

    padding:30px;

    transition:.35s;

    box-shadow:0 15px 40px rgba(0,0,0,.25);

}

.stat-card:hover{

    transform:translateY(-8px);

    box-shadow:0 25px 55px rgba(139,92,246,.35);

    border:1px solid #8B5CF6;

}

.stat-card h3{

    color:#A855F7;

    font-size:20px;

    margin-bottom:18px;

}

.stat-card h1{

    font-size:44px;

    color:white;

}